# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyo
*.pyd

# Distribution / packaging
dist/
build/
develop-eggs/
*.egg-info
*.egg

# Log files
*.log

# Temporary files
*.tmp

# Environment files
.env

# Virtual environment
venv/

# Swap files
*.swp

# IDE specific
.vscode/
*.idea

# macOS specific
__MACOSX/
*.DS_Store